:root{
    --primery-text-color:#757575;
    --title-text-color:#000000;
    --accent-text-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --primery-button-color:#212121;
}

body {
    font-family: roboto;
    background-color:var(--primary-white-color);
    color: var(--primery-text-color);
/* хедер */
}
.list{
    list-style: none;
}
.logo{
    color: var(--accent-text-color);
}
.studio{
    color: var(--title-text-color);
}
.navigation{
    color: var(--accent-text-color);
}
.mail{
    color: var(--accent-text-color);
}
.site-title{
    color: var(--primery-button-color);
}
.tel{
    color: var(--primery-text-color)
}
/* main */
.button .button-title{
    color: var(--primery-button-color);
    background-color: #F5F4FA;
}
.hero-title{
    color: var(--title-text-color);
}
.section-title{
    color: var(--title-text-color);
}
.futures .title{
    color: var(--title-text-color);
}
/* футер */
.logo-title{
    color: var(--primary-white-color);
}
.adress{
    color: var(--primary-white-color);
}
.contacts{
    color: rgba(255, 255, 255, 0.6);
}

/*основной цвет текста color: #212121;*/
/*вторичныфй цвет color: color: #757575; ;*/
/* белый #FFFFFF*/
/*цель #2F303A*/
/* чем занимаемся background: #F5F5F5*/
/*команда #F5F4FA*/
/*футер #2F303A*/
/*акцент color: #2196F3 */
/* футер текст color: #2196F3; */